:root {
  --dark-1: #020d19;
  --dark-2: #0c0c0c;
  --dark-3: #0b1215;
  --dark-4: #1b1b1b;
  --dark-5: #171717;
  --white1: #f5f5f5;
}

body {
  background-color: var(--dark-2);
  display: flex;
  color: var(--white1);
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

#input-task,
#btn-task {
  border: none;
  font-size: 1rem;
  outline: none;
  padding: 1rem;
}

#input-task {
  width: 20rem;
  border-radius: 1.5rem;
}

#btn-task {
  background-color: var(--dark-4);
  color: var(--white1);
  border-radius: 2rem;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 500ms;
}

#btn-task:hover {
  background-color: var(--dark-5);
}

#todo-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#todo-list li {
  list-style-type: none;
  font-size: 1rem;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}
